// cf. https://github.com/codrops/CSSGlitchEffect

random(a, b)
  return math(math(0, 'random') * (b - a + 1) + a, 'floor')

gap-horizontal = 10px
gap-vertical = 5px
duration = 4s
delay = 2s
image-url = 'https://pbs.twimg.com/media/D4F1rQWVUAAX4XQ.jpg'
image-width = 100%
image-height = 100%
blend-mode-1 = none
blend-mode-2 = none
blend-mode-3 = none
blend-mode-4 = overlay
blend-mode-5 = overlay
blend-color-1 = transparent
blend-color-2 = transparent
blend-color-3 = transparent
blend-color-4 = #fb909a
blend-color-5 = #1c1cc9

.glitch-codrops-images
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  opacity 0.5

.glitch-codrops-image
  position absolute
  width 100%
  height 100%
  transform translate3d(0, 0, 0)
  background blend-color-1 url(image-url) repeat 50% 50%
  background-size 150px
  background-blend-mode blend-mode-1

  &:nth-child(n+2)
    opacity 0
    animation duration linear delay infinite

  for i in 2 3 4 5
    &:nth-child({i})
      background-color lookup('blend-color-' + i)
      background-blend-mode lookup('blend-mode-' + i)
      animation-name unquote('glitch-codrops-' + i)

@keyframes glitch-codrops-2
  for i in 0..10
    {2% * i}
      if i == 0
        opacity 1
        transform translate3d(gap-horizontal, 0, 0)
      start = random(0, 90) * 1%
      finish = start + random(0, 10) * 1%
      clip-path polygon(0 start, 100% start, 100% finish, 0 finish)
  21.9%
    opacity 1
    transform translate3d(gap-horizontal, 0, 0)
  22%, 100%
    opacity 0
    transform translate3d(0, 0, 0)
    clip-path polygon(0 0, 0 0, 0 0, 0 0)

@keyframes glitch-codrops-3
  0%
    opacity 1
    transform translate3d(gap-horizontal * -1, 0, 0)
  for i in 0..10
    {1% + 2% * i}
      start = random(0, 90) * 1%
      finish = start + random(0, 10) * 1%
      clip-path polygon(0 start, 100% start, 100% finish, 0 finish)
  22.9%
    opacity 1
    transform translate3d(gap-horizontal * -1, 0, 0)
  23%, 100%
    opacity 0
    transform translate3d(0, 0, 0)
    clip-path polygon(0 0, 0 0, 0 0, 0 0)

@keyframes glitch-codrops-4
  0%
    opacity 1
    transform translate3d(0, gap-vertical * -1, 0) scale3d(-1, -1, 1)
    clip-path polygon(0 1%, 100% 1%, 100% 3%, 0 3%)
  for i in 0..40
    if random(0, 4) != 0
      {1% + 0.5% * i}
        start = random(0, 90) * 1%
        finish = start + random(0, 10) * 1%
        clip-path polygon(0 start, 100% start, 100% finish, 0 finish)
  21.9%
    opacity 1
    transform translate3d(0, gap-vertical * -1, 0) scale3d(-1, -1, 1)
  22%, 100%
    opacity 0
    transform translate3d(0, 0, 0)
    clip-path polygon(0 0, 0 0, 0 0, 0 0)

@keyframes glitch-codrops-5
  0%
  5%
    opacity 0.2
    transform translate3d(gap-horizontal, gap-vertical, 0)
  5.5%
  100%
    opacity 0
    transform translate3d(0, 0, 0)
