extends ../_layout

append meta
  title TASK1 | グローバルエリート

append styles
  link(rel='stylesheet' href='glitch-codrops.css')
  link(rel='stylesheet' href='jatyping.css')
  link(rel='stylesheet' href='styles.css')

append scripts
  script(src='jatyping.js')
  script(src='era_name_list.js')
  script(src='scripts.js')

block body
  .glitch-codrops-images
    .glitch-codrops-image
    .glitch-codrops-image
    .glitch-codrops-image
    .glitch-codrops-image
    .glitch-codrops-image
  .bg-era-names
