extends ../_layout

append meta
  title TASK1 | グローバルエリート

append styles
  link(rel='stylesheet' href='glitch-codrops.css')

block body
  .glitch-codrops-images
    .glitch-codrops-image
    .glitch-codrops-image
    .glitch-codrops-image
    .glitch-codrops-image
    .glitch-codrops-image
