doctype html
html
  head
    meta(charset='UTF-8')
    title PDE Test
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='styles.css')
    script(src='//code.jquery.com/jquery-3.0.0.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.3/processing.min.js')
    script(src='scripts.js')
  body
    .container-fluid
      .row
        .col-xs-6
          .art
            canvas(width='0', height='0')
        .col-xs-6
          .editor
            .btn-group.btn-group-sm
              button.btn.btn-default#btnRun
                span.glyphicon.glyphicon-refresh
                = ' Run'
              button.btn.btn-default#btnPlay
                span.glyphicon.glyphicon-play
                = ' Play'
              button.btn.btn-default#btnStop
                span.glyphicon.glyphicon-stop
                = ' Stop'
            textarea.form-control
