html
body
.container-fluid
.row
.col-xs-6
.editor
  height 100%

.col-xs-6
  padding-top 15px
  padding-bottom 15px

.editor
  display flex
  flex-direction column

.art
  background-color #000

  > canvas:not([width='0'])
    vertical-align bottom
    width 100%

.editor
  > .btn-group
    padding-bottom 5px

  > textarea
    flex 1
