doctype
html
  head
    title グローバルエリート
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='styles.css')
    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
  body
    h1 グローバルエリート
    footer
      cite
        a(href='http://commons.nicovideo.jp/material/nc19622') ♪
      span &copy; 2015 グローバルエリート
    script(src='scripts.js')
    audio(src='bgm.mp3', autoplay, loop, preload='none')
