doctype
html
  head
    title グローバルエリート
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    // script(src='scripts.js')
  body
    .wrapper
      h1 グローバルエリート
      p
        | ２０１６年５月１日
        br
        a(href='http://bunfree.net/?tokyo_bun22') 第二十二回文学フリマ東京
        | （
        a(href='https://www.google.co.jp/maps/place/%E6%9D%B1%E4%BA%AC%E6%B5%81%E9%80%9A%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC%E7%AC%AC%E4%B8%80%E5%B1%95%E7%A4%BA%E5%A0%B4/@35.5808419,139.7483595,15z/data=!4m2!3m1!1s0x0:0x3c65b91947c29bba') 東京流通センター第一展示場
        | ）
      p
        | 同人SF小説アンソロジー
        br
        | WORK セリエント（仮）
        br
        | 1000円〜1500円で頒布予定
      h2 収録予定作品
      p
        | 登坂車線
        br
        | クレーター
        br
        | セリエント
        br
        | Lovely Fairy With me
        br
        | タクトくん
      footer
        p &copy; 2016 グローバルエリート
