doctype
html
  head
    title グローバルエリート
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
    link(rel='stylesheet', href='styles.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='scripts.js')
  body
    section
      h1 グローバルエリート

      section
        h2 頒布作品

        section
          h3 WORK セリエント

          dl
            dt ジャンル
            dd 同人SF小説アンソロジー
            dt 発行日
            dd 二〇一六年五月一日
            dt 定価
            dd 2,000円

          p 倫理を持たぬ傭兵部隊。未来を予測するＡＩ。ふたつの異端が出会う時、人類は新たな地平を歩み出す――。機械が人間を凌駕するその瞬間を描いた表題作をはじめ、個性あふれる五篇の中短編を収録したＳＦアンソロジー。少女へと復讐を誓うサラリーマン、疲れた主人のために一計を案じる全自動炊飯器、霧に覆われた街に現れる「かみさま」とわたし、親友を亡くした青年と妖精……世界で活躍する異端児らによる五者五様の世界観はいずれも鮮烈にして独特！

          dl
            dt 収録作品
            dd
              ul
                li 登坂車線（架旗透）
                li クレーター（東京ニトロ）
                li セリエント（髙座創）
                li Lovely Fairy With me（維嶋津）
                li タクトくん（杏野丞）
            dt 販売元
            dd
              ul
                li Kindle Store （準備中）
            dt 特別頒布イベント
            dd
              ul
                li
                  a(href='http://bunfree.net/?tokyo_bun22') 第二十二回文学フリマ東京
                  | にて初版極少数部を特別価格にて頒布
                  | （
                  a(href='https://c.bunfree.net/p/tokyo22/4792') 文学フリマWebカタログ
                  | ）

    footer
      p &copy; 2016 グローバルエリート
