extends .layout

append meta
  title グローバルエリート

append scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.3/processing.min.js')
  script(src='scripts.js')

append main
  article.splash
    .bgm
      audio(src='bgm.mp3', loop)
      a.bgm-action(href='javascript:void(runBgm())')
        i.fa.fa-circle-o-notch.fa-spin(area-hidden='true')
      a.bgm-source(href='https://soundcloud.com/al-halfmoon/regl0vl-loop-ver', target='_blank') Re&amp;Gl0v@l-loop ver- by et al.
    canvas(width='0', height='0', data-processing-sources='reboot.pde')
    h2
      a(href='https://c.bunfree.net/c/tokyo24/1F/D/15', target='_blank') May 7, 2017 TRC D-15

  article
    h2 WORK ピクニック計画へようこそ

    figure
      img(src='https://d3n98kyr7trnfl.cloudfront.net/paperclip/products/pictures/85e1019ec6e3a3768250e1e311215607e6824d1f_large.jpg?1491535749', width=176, alt='')

    dl
      dt ジャンル
      dd 同人SF小説アンソロジー
      dt 紹介
      dd ２００１年３月４日。その奇妙な添付ファイルをＩＳＤＮ回線で受信したところから、ぼくらの「ピクニック」は始まった。まだ何者でもない１５歳の葛藤と成長を圧倒的ディテールで描く表題作をはじめ、高校生たちによる超学歴社会への反乱、ナノマシンによる高度医療社会から生まれる人類の新たな進化、巨大環形生物アースイーターとのラブコメ、月を舞台にした喪失の物語など、個性豊かな五篇がふたたび集結。
      dt 収録作品
      dd
        ul
          li ハイスクール・ディザスター（架旗透）
          li 真愛なる君へ（髙座創）
          li アースイーターとお付き合いするということ（維嶋津）
          li 海辺（杏野丞）
          li ピクニック計画へようこそ（東京ニトロ）
      dt 刊行日
      dd 二〇一七年五月七日
      dt 書籍版
      dd
        ul
          li
            a(href='http://bunfree.net/?tokyo_bun24', target='_blank') 第二十四回文学フリマ東京
            | にて初版極少数部を特別価格にて頒布（
            a(href='https://c.bunfree.net/p/tokyo24/7500', target='_blank') 文学フリマWebカタログ
            | ）

  article
    h2 WORK セリエント

    figure
      img(src='https://images-fe.ssl-images-amazon.com/images/I/41TC%2BcUhMTL._SL250_.jpg', width=176, height=250, alt='')

    dl
      dt ジャンル
      dd 同人SF小説アンソロジー
      dt 紹介
      dd 倫理を持たぬ傭兵部隊。未来を予測するＡＩ。ふたつの異端が出会う時、人類は新たな地平を歩み出す――。機械が人間を凌駕するその瞬間を描いた表題作をはじめ、個性あふれる五篇の中短編を収録したＳＦアンソロジー。少女へと復讐を誓うサラリーマン、疲れた主人のために一計を案じる全自動炊飯器、霧に覆われた街に現れる「かみさま」とわたし、親友を亡くした青年と妖精……世界で活躍する異端児らによる五者五様の世界観はいずれも鮮烈にして独特！
      dt 収録作品
      dd
        ul
          li
            a(href='https://twitter.com/GlobalEliteSF/status/724561961959100416', target='_blank') 登坂車線
            | （架旗透）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/724917162033446912', target='_blank') クレーター
            | （東京ニトロ）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/725293560702992384', target='_blank') セリエント
            | （髙座創）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/725689176293662720', target='_blank') Lovely Fairy With me
            | （維嶋津）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/725995246731939841', target='_blank') タクトくん
            | （杏野丞）
      dt 刊行日
      dd 二〇一六年五月一日
      dt 電子版
      dd
        ul.inline
          li
            a.btn.btn-amazon(href='https://www.amazon.co.jp/dp/B01G9RQEN4?tag=globalelitesf-22', target='_blank')
              i.fa.fa-amazon(aria-hidden='true')
              | Kindle Store
      dt 書籍版
      dd
        ul
          li
            a(href='http://bunfree.net/?tokyo_bun22', target='_blank') 第二十二回文学フリマ東京
            | にて初版極少数部を特別価格にて頒布（
            a(href='https://c.bunfree.net/p/tokyo22/4792', target='_blank') 文学フリマWebカタログ
            | ）

append contents
  aside
    h2 メンバー
    dl
      dt 髙座創
      dd
        | 最高サークル責任者。
        a(href='https://twitter.com/TsukuruTakakura', target='_blank') Twitter
      dt 架旗透
      dd
        a(href='https://kakuyomu.jp/users/Hodler', target='_blank') カクヨム
      dt 維嶋津
      dd
        a(href='https://kakuyomu.jp/users/Shin_Ishima', target='_blank') カクヨム
      dt 東京ニトロ
      dd
        a(href='http://adachionconstruction.web.fc2.com/', target='_blank') ウェブサイト
      dt 杏野丞
      dd
        a(href='http://efuden.web.fc2.com/', target='_blank') ウェブサイト
