extends .layout

append meta
  title 同人サークル グローバルエリート
  meta(name='description', content='グローバルエリートは小説同人サークルです。SF同人誌の制作・発行が主な活動です。')
  meta(property='og:title', content='同人サークル グローバルエリート')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://globalelitesf.com/')
  meta(property='og:image', content='http://globalelitesf.com/og-image.png')
  meta(property='og:site_name', content='同人サークル グローバルエリート')
  meta(property='og:description', content='グローバルエリートは小説同人サークルです。SF同人誌の制作・発行が主な活動です。')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:site', content='@GlobalEliteSF')

append scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.3/processing.min.js')
  script(src='/scripts.js')

append main
  article.splash
    .bgm
      a.bgm-action(href='javascript:void 0')
        i.fa.fa-circle-o-notch.fa-spin(area-hidden='true')
        audio(src='bgm.mp3', loop)
      a.bgm-source(href='https://soundcloud.com/al-halfmoon/regl0vl-loop-ver', target='_blank') Re&amp;Gl0v@l-loop ver- by et al.
    canvas(width='0', height='0', data-processing-sources='reboot.pde')
    h2
      a(href='https://c.bunfree.net/c/tokyo26/2F/%E3%82%A2/20', target='_blank') May 6, 2018 TRC ア-20

  article
    h2 WORK 堕ち人賛歌

    figure
      img(src='https://assets-c.bunfree.net/paperclip/products/pictures/a7f72ee6f4719da08e726c60d71849d6101e725a_large.png?1524630510', width=176, alt='')

    dl
      dt ジャンル
      dd 同人SF小説アンソロジー
      dt 紹介
      dd 超光速宇宙船が実用化された未来。中国政府が主導する太陽系外惑星調査団の一行は、予想外のファーストコンタクトに直面する。ＳＦサークルグローバルエリート合同誌第三弾は、新メンバーを加えさらにパワーアップ。バイオハックで妹を改造しようとする青年、宇宙人侵略のなか交錯する画家と研究者たちの人生、包囲された限界集落から脱出しようとする兄弟たち、自動運転社会で騒動に巻き込まれる会社員……未来社会の人生模様を切り取った五篇を収録。
      dt 収録作品
      dd
        ul
          li
            a(href='https://twitter.com/GlobalEliteSF/status/988995632189857793', target='_blank') 地球独生子女
            | （髙座創）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/989365129954213888', target='_blank') この疾走する夜を駆けろ！
            | （東京ニトロ）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/989750875089338370', target='_blank') 堕ち人賛歌
            | （架旗透）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/990082326380986368', target='_blank') Cobalt
            | （零Ｆ）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/990533082255015937', target='_blank') 鱗の檻、扉のむこう
            | （維嶋津）
      dt 刊行日
      dd 二〇一八年五月六日
      dt 書籍版
      dd
        ul
          li
            a(href='https://bunfree.net/?tokyo_bun26', target='_blank') 第二十六回文学フリマ東京
            | にて初版極少数部を特別価格にて頒布（
            a(href='https://c.bunfree.net/p/tokyo26/10627', target='_blank') 文学フリマWebカタログ
            | ）

  article
    h2 WORK ピクニック計画へようこそ

    figure
      img(src='https://assets-c.bunfree.net/paperclip/products/pictures/85e1019ec6e3a3768250e1e311215607e6824d1f_large.jpg?1491535749', width=176, alt='')

    dl
      dt ジャンル
      dd 同人SF小説アンソロジー
      dt 紹介
      dd ２００１年３月４日。その奇妙な添付ファイルをＩＳＤＮ回線で受信したところから、ぼくらの「ピクニック」は始まった。まだ何者でもない１５歳の葛藤と成長を圧倒的ディテールで描く表題作をはじめ、高校生たちによる超学歴社会への反乱、ナノマシンによる高度医療社会から生まれる人類の新たな進化、巨大環形生物アースイーターとのラブコメ、月を舞台にした喪失の物語など、個性豊かな五篇がふたたび集結。
      dt 収録作品
      dd
        ul
          li
            a(href='https://twitter.com/GlobalEliteSF/status/856492310967623680', target='_blank') ハイスクール・ディザスター
            | （架旗透）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/856840692563197952', target='_blank') 真愛なる君へ
            | （髙座創）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/857212968106303488', target='_blank') アースイーターとお付き合いするということ
            | （維嶋津）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/857562040952438784', target='_blank') 海辺
            | （杏野丞）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/857939831954919425', target='_blank') ピクニック計画へようこそ
            | （東京ニトロ）
      dt 刊行日
      dd 二〇一七年五月七日
      dt 電子版
      dd
        ul.inline
          li
            a.btn.btn-amazon(href='https://www.amazon.co.jp/dp/B072M1QK45?tag=globalelitesf-22', target='_blank')
              i.fa.fa-amazon(aria-hidden='true')
              | Kindle Store
      dt 書籍版
      dd
        ul
          li
            a(href='https://bunfree.net/?tokyo_bun24', target='_blank') 第二十四回文学フリマ東京
            | にて初版極少数部を特別価格にて頒布（
            a(href='https://c.bunfree.net/p/tokyo24/7500', target='_blank') 文学フリマWebカタログ
            | ）

  article
    h2 WORK セリエント

    figure
      img(src='https://assets-c.bunfree.net/paperclip/products/pictures/9ac90399d75a102ef7fc3522047e0a12a90f7872_large.jpg?1460133686', width=176, alt='')

    dl
      dt ジャンル
      dd 同人SF小説アンソロジー
      dt 紹介
      dd 倫理を持たぬ傭兵部隊。未来を予測するＡＩ。ふたつの異端が出会う時、人類は新たな地平を歩み出す――。機械が人間を凌駕するその瞬間を描いた表題作をはじめ、個性あふれる五篇の中短編を収録したＳＦアンソロジー。少女へと復讐を誓うサラリーマン、疲れた主人のために一計を案じる全自動炊飯器、霧に覆われた街に現れる「かみさま」とわたし、親友を亡くした青年と妖精……世界で活躍する異端児らによる五者五様の世界観はいずれも鮮烈にして独特！
      dt 収録作品
      dd
        ul
          li
            a(href='https://twitter.com/GlobalEliteSF/status/858925081707257856', target='_blank') 登坂車線
            | （架旗透）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/859283627930144768', target='_blank') クレーター
            | （東京ニトロ）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/859653434898653185', target='_blank') セリエント
            | （髙座創）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/860035539306651649', target='_blank') Lovely Fairy With me
            | （維嶋津）
          li
            a(href='https://twitter.com/GlobalEliteSF/status/860421337860276224', target='_blank') タクトくん
            | （杏野丞）
      dt 刊行日
      dd 二〇一六年五月一日
      dt 電子版
      dd
        ul.inline
          li
            a.btn.btn-amazon(href='https://www.amazon.co.jp/dp/B01G9RQEN4?tag=globalelitesf-22', target='_blank')
              i.fa.fa-amazon(aria-hidden='true')
              | Kindle Store
      dt 書籍版
      dd
        ul
          li
            a(href='https://bunfree.net/?tokyo_bun22', target='_blank') 第二十二回文学フリマ東京
            | にて初版極少数部を特別価格にて頒布（
            a(href='https://c.bunfree.net/p/tokyo22/4792', target='_blank') 文学フリマWebカタログ
            | ）

append contents
  aside
    h2 メンバー
    dl
      dt 髙座創
      dd
        a(href='https://twitter.com/TsukuruTakakura', target='_blank') Twitter
      dt 架旗透
      dd
        a(href='https://kakuyomu.jp/users/Hodler', target='_blank') カクヨム
      dt 維嶋津
      dd
        a(href='https://kakuyomu.jp/users/Shin_Ishima', target='_blank') カクヨム
      dt 東京ニトロ
      dd
        | -
      dt 杏野丞
      dd
        a(href='http://efuden.web.fc2.com/', target='_blank') ウェブサイト
      dt 零Ｆ
      dd
        | -

prepend footer
  p
    a.btn.btn-twitter(href='https://twitter.com/GlobalEliteSF', target='_blank')
      i.fa.fa-twitter(aria-hidden='true')
      | @GlobalEliteSF
