// Variable ---------------------------------------------------------------------

// Basic
$ratio: 1.618;

// Text size
$ratio-text: 1;
$ratio-text-huge: ($ratio-text * $ratio);
$ratio-text-large: (($ratio-text + $ratio-text-huge) / 2);
$ratio-text-small: ($ratio-text-large / $ratio);

// Line height
$line-height: $ratio;
$line-height-small: $line-height * 0.8;

// Margin
$margin: $ratio * 1rem;

// Core
$ratio-text-root: $ratio-text;
$ratio-text-root-large: (($ratio-text-large - $ratio-text) / 4 + $ratio-text);
$ratio-text-root-huge: (($ratio-text-large - $ratio-text) / 2 + $ratio-text);
$line-height-root: $line-height;

// Content
$width-gap: 1rem / $ratio;
$width-label: 6rem;
$width-image: 10rem;
$width-content: 32rem;
$width-content-large: ($width-content + $width-label);
$width-content-huge: ($width-content-large + $width-image + $margin);
$width-scrollbar: 2rem;

// Breakpoint
$breakpoint-large: (
  ($width-content-large + $width-gap * 4) * $ratio-text-root-large / $ratio-text-root +
    $width-scrollbar
);
$breakpoint-huge: (
  ($width-content-huge + $width-gap * 4) * $ratio-text-root-huge / $ratio-text-root +
    $width-scrollbar
);

// Footer
$footer-padding-top: 4em;

// Basecoat ---------------------------------------------------------------------

html {
  font-family: serif;
  font-size: ($ratio-text-root * 100%);
  line-height: $line-height-root;
  font-feature-settings: 'palt';
}

body {
  color: #999;
  background-color: #000;
}

:not(input):not(textarea)::selection {
  color: #000;
  background: #fff;
}

a {
  color: #ccc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: bottom;
}

h2,
dt {
  color: #eee;
}

h3,
h4 {
  color: #ccc;
}

figure {
  margin: 0;
  text-align: center;
}

dd {
  margin-bottom: 0.5em;
  margin-left: 0;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

dd,
figure,
nav {
  ul,
  ol {
    padding-left: 0;
    list-style-type: none;
  }

  ul > li {
    display: inline-block;
    margin-right: 0.25em;
    margin-left: 0.25em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

em {
  font-style: normal;
  color: #fc0;
}

i.fas,
i.fab {
  $fa-font-scale: 0.75;

  font-size: (100% * $fa-font-scale);
  vertical-align: (1em * (((1 - $fa-font-scale) / 2) / $fa-font-scale));
}

i.fas.fa-external-link-alt {
  margin-left: 0.5em;
}

// Container --------------------------------------------------------------------

@mixin container {
  body > header,
  body > main > *,
  body > aside > *,
  body > footer {
    @content;
  }
}

@include container {
  max-width: $width-content;
  padding-right: $width-gap;
  padding-left: $width-gap;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $breakpoint-large) {
  html {
    font-size: ($ratio-text-root-large * 100%);
  }

  @include container {
    max-width: $width-content-large;
  }

  main > article > figure + dl,
  aside > dl {
    dt {
      float: left;
      width: $width-label;
    }

    dd {
      margin-left: $width-label;
    }
  }
}

@media (min-width: $breakpoint-huge) {
  html {
    font-size: ($ratio-text-root-huge * 100%);
  }

  @include container {
    max-width: $width-content-huge;
  }

  main > article > figure {
    float: left;

    + dl {
      margin-left: ($width-image + $margin);
    }
  }
}

body > main > article,
body > aside {
  overflow: hidden;
  &::before {
    display: block;
    width: 25%;
    max-width: 8em;
    height: 10px;
    margin-top: 2em;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    content: '';
    background-image: linear-gradient(#666, #666 33.33%, transparent 33.33%, transparent 100%);
    background-size: 100% 3px;
    border-style: none;
  }
}

body > main > article:first-child::before {
  content: none;
}

// Header -----------------------------------------------------------------------

body > header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  mix-blend-mode: exclusion;

  h1 {
    float: left;
    margin: 0 18px 0 0;
    font-size: 100%;
    white-space: nowrap;

    img {
      vertical-align: middle;

      + img {
        margin-left: 5px;
      }
    }
  }

  nav {
    float: left;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }

    li {
      margin-top: 5px;
      font-size: 80%;
    }

    a {
      position: relative;
      display: inline-block;

      &::after {
        position: absolute;
        bottom: 0.2em;
        left: 50%;
        display: block;
        width: 0;
        height: 1px;
        content: '';
        background-color: #ccc;
        transition: 0.5s all;
        transform: translateX(-50%);
      }

      &:hover {
        color: #fff;
        text-decoration: none;

        &::after {
          width: 100%;
        }
      }
    }
  }
}

body > main {
  padding-top: 60px;
}

// Aside ------------------------------------------------------------------------

body > aside {
  dl ul {
    font-size: 80%;
  }
}

// Footer -----------------------------------------------------------------------

body > footer {
  padding-top: $footer-padding-top;
  padding-bottom: 2em;
  overflow: hidden;
  font-size: 75%;
  color: #666;

  nav {
    float: left;
  }

  p {
    float: right;
  }
}

// Button -----------------------------------------------------------------------

.btn {
  $btn-border-color: rgba(0, 0, 0, 0.2);
  $btn-size: 2em;
  $btn-padding-size: 0.5em;
  $btn-font-rate: $ratio / ($btn-size / 1em);
  $btn-icon-rate: 1 / $btn-font-rate;

  display: inline-block;
  height: $btn-size;
  padding: 0 $btn-padding-size;
  font-size: 100% * $btn-font-rate;
  line-height: $btn-size;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 1px solid $btn-border-color;
  border-radius: 4px;

  > .fab:first-child {
    $btn-icon-size: $btn-size / $btn-icon-rate;
    $btn-icon-padding-size: $btn-padding-size / $btn-icon-rate;

    display: inline-block;
    width: $btn-icon-size;
    height: 100%;
    margin-right: $btn-icon-padding-size;
    margin-left: -1 * $btn-icon-padding-size;
    font-size: 100% * $btn-icon-rate;
    line-height: $btn-icon-size;
    text-align: center;
    vertical-align: 0;
    border-right: 1px solid $btn-border-color;
  }
}

.btn-amazon {
  color: #fff;
  background-color: #eb8c11;
}

// Q & A ------------------------------------------------------------------------

dl.qa {
  padding-left: 1.5em;

  dt,
  dd {
    position: relative;

    &::before {
      position: absolute;
      left: -1.5em;
    }
  }

  dt {
    color: inherit;

    &::before {
      content: 'Q.';
    }
  }

  dd {
    &::before {
      content: 'A.';
    }
  }
}

// Splash -----------------------------------------------------------------------

.splash {
  position: relative;
  height: 80vh;
  overflow: hidden;
  background-color: #000;

  html.js & {
    display: none;
  }

  & ~ main,
  & ~ aside {
    background-color: #111;

    & ~ footer::before {
      position: absolute;
      left: 0;
      width: 100%;
      height: $footer-padding-top;
      margin-top: $footer-padding-top * -1;
      content: '';
      background-image: linear-gradient(#111, transparent 100%);
    }
  }
}

.splash-contents {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.splash-contents-text {
  p {
    margin: 0.5em 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 150%;
    font-weight: 900;
    text-align: center;
  }

  big {
    font-size: 200%;
  }
}
