body
  font-family serif
  background-color #000
  color #666

a
  color #666
  text-decoration none

  &:hover
    text-decoration underline

footer
  font-size 10px

  cite
    position absolute
    bottom 1em
    left 1em
    font-style normal

  span
    position absolute
    bottom 1em
    right 1em

h1
  margin 0
  display none
  position absolute
  top 50%
  left 50%
  color #999
  white-space nowrap

  &.illust
    top 0
    left 0
    right 0
    bottom 0
    text-align center

    > img
      max-width 100%
      max-height 100%

.mgold
  color gold

.mred
  color red
