body
  margin 2em
  font-family serif
  background-color #000
  color #999

a
  color #ccc
  text-decoration none

  &:hover
    text-decoration underline

h1
  color #fff

h2
h3
dt
  color #ccc

dd
  margin-left 0

dd ul
  margin-top 0
  margin-bottom 0

footer
  color #666
  font-size 85%
